.header {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto 33px;

  @media screen and (max-width: 500px) {
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  & .language {
    & .name {
      display: inline-block;
      margin-right: 13px;
      font-size: 16px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.8);
      @include font-sans-pro-light;
    }

    & .select {
      display: inline-block;
      margin-right: 8px;
      font-size: 16px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.8);
      @include font-sans-pro-regular;
    }

    & img {
      width: 9px;
      height: 5px;
    }
  }

  & .icon-eyes img {
    width: 32px;
    height: 32px;

    @media screen and (max-width: 680px) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  & .telephone {
    display: flex;

    @media screen and (max-width: 680px) {
      flex-wrap: wrap;
      display: inline-block;
    }

    &-a1 {
      margin-right: 14px;
    }

    &-a1,
    &-mts {
      & p {
        display: inline-block;
        margin-right: 15px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        @include font-commissioner-regular;

        &.main-phone {
          font-size: 14px;
        }

        &.second-phone {
          font-size: 12px;
        }
      }

      & img {
        margin-right: 12px;
      }
    }
  }

}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 22px;
  max-width: 1170px;
  width: 100%;

  @media screen and (max-width: 400px) {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  & .nav-mobile {
    display: none;
  }

  & .nav a {
    margin-right: 50px;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    @include font-commissioner-medium;

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 1080px) {
  & .nav {
    display: none;
  }

  & .nav-mobile {
    display: flex;
    padding-top: 0;

    & .navbar-toggler {
      & svg {
        width: 25px;
        height: 25px;
      }
    }

    & .navbar-collapse {
      a {
        color: rgba(0,0,0,.5);
      }
    }
  }
}
}
