<section class="advantage">
    <div class="advantage-container">
        <h2 class="advantage-container-title">
            Наши преимущества
        </h2>

        <div class="advantage-container-cards">
            <div class="advantage-container-cards-item">
                <img  class="advantage-container-cards-item-img"
                      src="img/license.png"/>

                <p class="advantage-container-cards-item-name">
                    Лицензия на оказание юридических услуг
                </p>
            </div>

            <div class="advantage-container-cards-item">
                <img  class="advantage-container-cards-item-img"
                      src="img/staff.png"/>

                <p class="advantage-container-cards-item-name">
                    Опытные сотрудники
                </p>
            </div>

            <div class="advantage-container-cards-item">
                <img  class="advantage-container-cards-item-img"
                      src="img/skills.png"/>

                <p class="advantage-container-cards-item-name">
                    Коммуникативные навыки – без труда открываем любые двери и быстро решаем нужные вопросы
                </p>
            </div>

            <div class="advantage-container-cards-item">
                <img  class="advantage-container-cards-item-img"
                      src="img/approach.png"/>

                <p class="advantage-container-cards-item-name">
                    Скрупулезный поход к ведению документации
                </p>
            </div>
        </div>

        <div class="advantage-container-info">
            <p class="advantage-container-info-text">
                Юристы нашей компании готовы дать четкие, основанные на фактах, консультации, касающиеся и «типовой», и нестандартной ситуации, опираясь на сложившуюся служебную практику и многолетний опыт. Мы объективно оцениваем риски и тщательно анализируем каждый случай.
            </p>
            <div class="arrow">
            </div>
        </div>
    </div>
</section>