<section class="cost">
    <div class="cost-container">
        <h2 class="cost-container-name">
            Стоимость юридических услуг в Минске
        </h2>
        <p class="cost-container-text">
            Стоимость услуг формируется согласно тарифам, установленным в компании и в зависимости от времени, затраченного юристом на разрешение возникшей ситуации. Принцип прозрачности делает наши цены обоснованными и понятными для клиента.
        </p>
        <button class="btn">
            Тарифы
        </button>
    </div>
</section>