.cost {
  background: #E5E5E5;
  padding-bottom: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 768px) {
    padding-bottom: 50px;
  }

  &-container {
    max-width: 1170px;
    width: 1170px;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
      padding-right: 25px;
      padding-left: 25px;
      width: auto;
    }

    &-card {

      &-title {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.03em;
        color: rgba(0, 0, 0, 0.9);
        @include font-commissioner-regular;
      }

      &-text {
        width: 60%;
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.8);
        @include font-lato-light;

        @media screen and (max-width: 750px) {
          width: 100%;
        }
      }
    }
  }
}