.partners {
  margin-bottom: 100px;

  @media screen and (max-width: 768px) {
    margin-bottom: 50px;
  }

  &-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
      padding-right: 25px;
      padding-left: 25px;
    }

    &-about {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      max-width: 970px;
      width: 100%;

      @media screen and (max-width: 1200px) {
        padding-left: 10px;
      }

      @media screen and (max-width: 800px) {
        display: block;
      }

      & p {
        flex: 0 0 calc(100% - 300px);
        margin-right: 100px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.8);

        @media screen and (max-width: 800px) {
          margin-right: 10px;
          width: 100%;
        }

      }

      & button {
        flex: 0 0 200px;
        width: 200px;
        height: 45px;
        font-family: 'Commissioner', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #DEC377;
        border: 1px solid #DEC377;
        background: #ffffff;
      }
    }

    &-icon {
      mix-blend-mode: luminosity;

      @media screen and (max-width: 1200px) {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }

      @media screen and (max-width: 768px) {
        justify-content: center;
      }

      & img {
        margin-right: 60px;

        &:last-child {
          margin-right: 0;
        }

        @media screen and (max-width: 1200px) {
          margin-top: 15px;
        }

        @media screen and (max-width: 400px) {
          margin-right: 5px;
        }
      }
    }
  }
}
