.promo {
  & .window-text {
    width: 570px;
    height: 100px;
    text-align: left;

    &.carousel-caption {
      bottom: 350px;
      left: calc((100vw - 1170px - 16px) / 2);

      & .main-name {
        margin-bottom: 20px;
        font-family: 'Commissioner', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.01em;
        color: rgba(0, 0, 0, 0.9);
      }

      & .subname {
        margin-bottom: 50px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  & .carousel-control-next,
  & .carousel-control-prev {
    color: rgba(0, 0, 0, 0.8);
    width: 5%;
  }

  & .carousel-control-prev,
  & .carousel-control-next {
    position: absolute;
    width: 60px;
    height: 60px;
  }

  & .carousel-control-prev,
  & .carousel-control-next {
    top: calc(100% - 130px);

    &-icon {
      width: 100%;
      height: 100%;
    }
  }

  & .carousel-control-prev {
    left: calc((100vw - 1170px - 16px) / 2);

    &-icon {
      background: url("../img/next.svg") center no-repeat;
      transform: rotate(180deg);
    }
  }

  & .carousel-control-next {
    left: calc(((100vw - 1170px - 16px) / 2) + 60px);

    &-icon {
      background-image: url("../img/next.png") center no-repeat;
    }
  }
}
