<section class="service">
    <img src="../../img/Pen.png"
         alt="pen"/>
    <div class="service-container">
        <h2>
            Перечень оказываемых услуг
        </h2>

        <div class="service-container-cards">
            <div class="service-card">
                <div class="service-card-left card">
                    <div class="service-card-text">
                        <h5 class="service-card-text-name">
                            Регистрации ИП и юрлиц
                        </h5>

                        <button class="service-card-text-btn">
                            Подробнее
                        </button>
                    </div>
                </div>

                <div class="service-card-right card">
                    <div class="service-card-text">
                        <h5 class="service-card-text-name">
                            Ликвидация, реорганизация и продажа бизнеса
                        </h5>

                        <button class="service-card-text-btn">
                            Подробнее
                        </button>
                    </div>
                </div>
            </div>

            <div class="service-card">
                <div class="service-card-left card">
                    <div class="service-card-text">
                        <h5 class="service-card-text-name">
                            Регистрации ИП и юрлиц
                        </h5>

                        <button class="service-card-text-btn">
                            Подробнее
                        </button>
                    </div>
                </div>

                <div class="service-card-right card">
                    <div class="service-card-text">
                        <h5 class="service-card-text-name">
                            Ликвидация, реорганизация и продажа бизнеса
                        </h5>

                        <button class="service-card-text-btn">
                            Подробнее
                        </button>
                    </div>
                </div>
            </div>

            <div class="service-card">
                <div class="service-card-left card">
                    <div class="service-card-text">
                        <h5 class="service-card-text-name">
                            Регистрации ИП и юрлиц
                        </h5>

                        <button class="service-card-text-btn">
                            Подробнее
                        </button>
                    </div>
                </div>

                <div class="service-card-right card">
                    <div class="service-card-text">
                        <h5 class="service-card-text-name">
                            Ликвидация, реорганизация и продажа бизнеса
                        </h5>

                        <button class="service-card-text-btn">
                            Подробнее
                        </button>
                    </div>
                </div>
            </div>

            <div class="service-card">
                <div class="service-card-left card">
                    <div class="service-card-text">
                        <h5 class="service-card-text-name">
                            Регистрации ИП и юрлиц
                        </h5>

                        <button class="service-card-text-btn">
                            Подробнее
                        </button>
                    </div>
                </div>

                <div class="service-card-right card">
                    <div class="service-card-text">
                        <h5 class="service-card-text-name">
                            Ликвидация, реорганизация и продажа бизнеса
                        </h5>

                        <button class="service-card-text-btn">
                            Подробнее
                        </button>
                    </div>
                </div>
            </div>

            <div class="service-card">
                <div class="service-card-left card">
                    <div class="service-card-text">
                        <h5 class="service-card-text-name">
                            Регистрации ИП и юрлиц
                        </h5>

                        <button class="service-card-text-btn">
                            Подробнее
                        </button>
                    </div>
                </div>

                <div class="service-card-right card">
                    <div class="service-card-text">
                        <h5 class="service-card-text-name">
                            Ликвидация, реорганизация и продажа бизнеса
                        </h5>

                        <button class="service-card-text-btn">
                            Подробнее
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-container-about">
            <p>
                Оказание юридических услуг юридическим лицам и индивидуальным предпринимателям – наша работа. Среди собственников бизнеса принято считать, что прочитать закон в Интернете и применить его на практике - это одно и тоже. Основываясь на этом убеждении, они часто отказываются от профессиональной помощи. Практика же показывает, что только опытный юрист может правильно разобраться в правовых тонкостях, своевременно предотвратить ложные шаги и ускорить получение результата.
            </p>

            <button class="btn">
                Все услуги
            </button>
        </div>
    </div>
</section>
