<section class="about">
    <div class="about-container">
        <div class="about-container-cards">
            <div class="left-card about-card">
                <h3>
                    Просто объясним сложные вещи
                </h3>

                <p>
                    В своей практике, мы дотошно соблюдаем законность, учитываем сложившуюся правовую практику и правила юридической этики. Мы считаем, что в поддержке бизнеса важно учитывать конкретные проблемы клиента и строить сотрудничество по принципу тщательного изучения всех нюансов возникшей ситуации. Всегда честны и объективны.
                </p>
            </div>

            <div class="right-card about-card">
                <h3>
                    Надежно защитим права и интересы
                </h3>

                <p>
                    Заказав комплексные юридические услуги в ООО «МК-Правовые технологии», можно больше не платить зарплату штатному юристу, страховые отчисления и налоги с его доходов. Можно не оплачивать отпуск, больничные и не беспокоиться о нахождении работника на рабочем месте в нужный момент.
                </p>

                <div class="arrow">
                </div>
            </div>
        </div>

        <div class="about-container-card about-card">
            <h2>
                Вы платите только за результат!
            </h2>

            <p>
                В своей практике, мы дотошно соблюдаем законность, учитываем сложившуюся правовую практику и правила юридической этики. Мы считаем, что в поддержке бизнеса важно учитывать конкретные проблемы клиента и строить сотрудничество по принципу тщательного изучения всех нюансов возникшей ситуации. Всегда честны и объективны.
            </p>
        </div>
    </div>
</section>
