<section class="info">
    <div class="info-positive">
        <div class="info-positive-card">
            <img  class="info-positive-card-img"
                  src="img/Надежная защита.png"/>

            <p class="info-positive-card-name">
                Надежная защита
            </p>
        </div>

        <div class="info-positive-card">
            <img class="info-positive-card-img"
                 src="img/Безупречная%20репутация.png"/>

            <p class="info-positive-card-name">
                Безупречная репутация
            </p>
        </div>

        <div class="info-positive-card">
            <img  class="info-positive-card-img"
                  src="img/Ориентированность%20на%20результат.png"/>

            <p class="info-positive-card-name">
                Ориентированность на результат
            </p>
        </div>

        <div class="info-positive-card">
            <img  class="info-positive-card-img"
                  src="img/абсолютная%20конфиденциальность.png"/>

            <p class="info-positive-card-name">
                Абсолютная конфиденциальность
            </p>
        </div>
    </div>

    <div class="info-container">
        <div class="info-container-card">
            <h2>
                Юридическое сопровождение бизнеса от «МК-Правовые технологии»
            </h2>

            <div class="info-container-text">
                <p>
                    Главный принцип нашей работы - качество. Постоянно следовать ему помогает сплоченная команда талантливых и энергичных сотрудников, способных сообща заниматься сложными проектами, никогда не допуская сбоев в работе.
                </p>

                <p>
                    Мы обеспечиваем максимальный уровень профессионального обслуживания, который можно ожидать от крупной юридической фирмы.
                </p>

                <p>
                    Нашу фирму отличают яркая индивидуальность и следование модели эффективного юридического обслуживания. Благодаря профессиональной гибкости мы находим творческие решения как обычных вопросов, так и неординарных проблем, возникающих у наших клиентов.
                </p>

                <p>
                    Все наши рекомендации основаны на глубоких академических знаниях и опыте практического применения в хозяйственном праве.
                </p>
            </div>
        </div>

        <img src="img/Stairs.png">
    </div>
</section>
