<section class="trust">
    <div class="trust-container">
        <div class="trust-container-why">
            <div class="trust-container-why-text">
                <h2 class="trust-container-why-text-name">
                    Почему нам доверяют
                </h2>

                <p class="trust-container-why-text-description">
                    Прозрачность и открытость для клиентов – наш принцип, который с самого начала исключает любые
                    недопонимания. Мы тщательно продумали работу каждого юриста внутри коллектива, что обеспечивает
                    высокое качество юридических услуг компании.
                </p>
            </div>

            <div class="trust-container-why-list">
                <div class="trust-container-why-list-point">
                    <div class="trust-container-why-list-point-dot">
                        <div class="trust-container-why-list-point-dot-center">
                        </div>
                    </div>

                    <p class="trust-container-why-list-point-name">
                        безупречная репутация
                    </p>
                </div>

                <div class="trust-container-why-list-point">
                    <div class="trust-container-why-list-point-dot">
                        <div class="trust-container-why-list-point-dot-center">
                        </div>
                    </div>

                    <p class="trust-container-why-list-point-name">
                        абсолютная конфиденциальность
                    </p>
                </div>

                <div class="trust-container-why-list-point">
                    <div class="trust-container-why-list-point-dot">
                        <div class="trust-container-why-list-point-dot-center">
                        </div>
                    </div>

                    <p class="trust-container-why-list-point-name">
                        внимание к каждому клиенту
                    </p>
                </div>

                <div class="trust-container-why-list-point">
                    <div class="trust-container-why-list-point-dot">
                        <div class="trust-container-why-list-point-dot-center">
                        </div>
                    </div>

                    <p class="trust-container-why-list-point-name">
                        успешный опыт решения нестандартных вопросов
                    </p>
                </div>
            </div>
        </div>

        <div class="trust-container-purchase">
            <div class="trust-container-purchase-text">
                <h2 class="trust-container-purchase-text-name">
                    Что получает клиент
                </h2>

                <p class="trust-container-purchase-text-description">
                    Юристы нашей компании готовы дать четкие, основанные на фактах, консультации, касающиеся и «типовой», и нестандартной ситуации, опираясь на сложившуюся служебную практику и многолетний опыт. Мы объективно оцениваем риски и тщательно анализируем каждый случай.
                </p>
            </div>

            <div class="trust-container-purchase-list">
                <div class="trust-container-purchase-list-point">
                    <div class="trust-container-purchase-list-point-dot">
                        <div class="trust-container-purchase-list-point-dot-center">
                        </div>
                    </div>

                    <p class="trust-container-purchase-list-point-name">
                        надежная защита бизнеса

                    </p>
                </div>

                <div class="trust-container-purchase-list-point">
                    <div class="trust-container-purchase-list-point-dot">
                        <div class="trust-container-purchase-list-point-dot-center">
                        </div>
                    </div>

                    <p class="trust-container-purchase-list-point-name">
                        актуальная правовая помощь
                    </p>
                </div>

                <div class="trust-container-purchase-list-point">
                    <div class="trust-container-purchase-list-point-dot">
                        <div class="trust-container-purchase-list-point-dot-center">
                        </div>
                    </div>

                    <p class="trust-container-purchase-list-point-name">
                        своевременная оценка рисков
                    </p>
                </div>

                <div class="trust-container-purchase-list-point">
                    <div class="trust-container-purchase-list-point-dot">
                        <div class="trust-container-purchase-list-point-dot-center">
                        </div>
                    </div>

                    <p class="trust-container-purchase-list-point-name">
                        компетентное решение правовых вопросов
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
