<section class="partners">
    <div class="partners-container">
        <div class="partners-container-about">
            <p>
                Оказываем юридические услуги юридическим лицам и индивидуальным предпринимателям. Специализируемся в области хозяйственного права, работаем на всей территории Республики Беларусь, а также за ее пределами, с бизнесом любого масштаба.
            </p>

            <button>
                Наши партнеры
            </button>
        </div>

        <div class="partners-container-icon">
            <img src="img/БауАренда.png">

            <img src="img/titan_logo 1.png">

            <img src="img/favorit 1.png">

            <img src="img/ALFA_250 1.png">

            <img src="img/logo_IBA_Institute_ 1.png">
        </div>
    </div>
</section>
