<section class="cooperation">
    <div class="cooperation-container">
        <div class="cooperation-container-cards">
            <div class="cooperation-container-cards-about">

                <h2 class="cooperation-container-cards-about-name">
                    Организация сотрудничества
                </h2>

                <div class="cooperation-container-cards-about-number">
                    <img class="cooperation-container-cards-about-number-img"
                         src="./img/number1.png"
                         alt="number1">

                    <p class="cooperation-container-cards-about-number-text">
                        Установив контакт с нашим сотрудником, Вы оговорите нюансы предмета обсуждения и согласуете личную встречу.
                    </p>
                </div>

                <div class="cooperation-container-cards-about-number">
                    <img class="cooperation-container-cards-about-number-img"
                         src="./img/number2.png"
                         alt="number2">

                    <p class="cooperation-container-cards-about-number-text">
                        Юрист изучит документы, необходимые для разработки стратегии решения возникшей ситуации. И заключит договор.
                    </p>
                </div>

                <p class="cooperation-container-cards-about-text">
                    Также в нашей компании возможна удаленная форма обслуживания с оказанием полного комплекса юридических услуг в РБ через современные средства связи и мессенджеры.
                </p>
            </div>

            <div class="cooperation-container-cards-form">
                <div class="cooperation-container-cards-form-name">
                    <p class="cooperation-container-cards-form-name-subname">
                        Ваше имя
                    </p>
                    <p class="cooperation-container-cards-form-name-field">
                        Ваше имя
                    </p>
                </div>

                <div class="cooperation-container-cards-form-name">
                    <p class="cooperation-container-cards-form-name-subname">
                        Телефон для связи
                    </p>
                    <p class="cooperation-container-cards-form-name-field">
                        +375 (XX) XXX-XX-XX
                    </p>
                </div>

                <p class="cooperation-container-cards-form-info">
                    Нажимая на кнопку «Получить консультацию», вы соглашаетесь с условиями
                    <span><ins>Политики конфиденциальности</ins></span>
                </p>

                <button class="cooperation-container-cards-form-btn">
                    Получить консультацию
                </button>
            </div>
        </div>
    </div>
</section>